body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
/*------------------------------------------HEADER*/
.main
{
    width: 100%;
    height: 20%;
    height: 100vh;
    background-image: url(../img/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}
.main-contain
{
    height: inherit;
}
.centrar
{
    width: 70%;
    margin: 0 auto;
}
header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}
.header-left h1
{
    letter-spacing: 3pt;
    cursor: pointer;
    font-size: 3em;
}
.header-right nav ul
{
    display: flex;
    list-style: none;
}
.header-right nav ul li
{
    text-align: center;
    margin: 0 10px;
}
.menu-button
{
    display: none;
}
a
{
    color: white;
    font-weight: 700;   
    text-decoration: none;
}
.header-right nav ul li a   
{
    transition: .5s;
}
#menu-first a
{
    color: black;
}
.header-right nav ul li a:hover
{
    color: black;
}

/*---------------------------------------------MAIN*/

.intro
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60%;
}
.logo-contain
{
    width: 110px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid green;
}
.logo
{
    width: 85px;
    height:85px;
    border: 2px solid white;
    border-radius: 2px;
    transition: .5s;
    animation-name: rotate;
    animation-duration:1s;
    animation-fill-mode: forwards;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.logo-contain:hover .logo
{
    transform: rotate(0deg);
}
.intro-info
{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info-title
{
    font-size: 17px;
    letter-spacing: 2pt;
    margin: 7px 0;
}
.line
{
    border: .5px solid white;
    height: 2px;
    width: 30%;
    background: white;
    transform-origin: center;
    animation-name: extend;
    animation-duration: 1s;
    margin: 15px 0;
}

.info-text
{
    opacity: .7;
}

/*------------------------------------ABOUT*/

h1
{
    margin: 0;
}
.about
{
    height: auto;
    background: rgb(235, 233, 233);
    font-size: 16px;
}
.about-title
{
    text-align: center;
    font-size: 3em;
    color: rgb(5, 5, 94);
    margin: 1em 0;
    font-weight: bold;
}
.about-contain
{
    padding: 2em 0;
}
.about-top
{
    display: flex;
    min-height: 150px;
}
.top-title h1
{
    margin: 0;
    padding: 0;
}
.top-title
{
    font-size: 1.5em;
    text-align: center;
    padding: 0 1em;
    opacity: .7;
}
.top-description p
{
    padding: 0 1em;
    margin: 0;
    font-size: 1.2em;
    opacity: 1;
}
.top-description p::first-letter
{
    color: rgb(5, 5, 94);
    font-weight: 700;
    font-size: 2em;
    padding-right: .2em;
    text-align: left;
}
.top-description
{
    border-left: 4px solid rgb(5, 5, 94);
}
.about-mid
{
    margin: 3em 0;
    background: red;
    height: 280px;
}
.about-mid img
{
    width: 100%;
    height: 100%;
}
.about-bottom
{
    text-align: center;
    opacity: .7;
}

/*------------------------------------------------SERVICES*/

.services
{
    height: auto;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.services-title
{
    text-align: center;
    font-size: 3em;
    color: rgb(5, 5, 94);
    margin: 1em 0;
    font-weight: bold;
}
.services-list
{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
}
.services-box
{
    width: 360px;
    height: auto;
    padding: 0 1em;
    padding-top: 3em;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(5, 5, 94);
    border-radius: 5px;
    position: relative;
    margin: 3em 1em;
    transition: .5s;
    box-sizing: border-box;
}
.services-box:hover
{
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.4);
    border: 0;
}
.services-icon
{
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid rgb(5, 5, 94);
    border-radius: 5px;
    background: white;
    top: -40px;
    font-size: 1.5em;
    line-height: 60px;
    color: rgb(5, 5, 94);
}
.services-box h2
{
    margin: 10px;
}
.services-box p
{
    margin: 10px;
}
.services-box h1
{
    letter-spacing: 3pt;
}
.services-box p
{
    font-size: 1em;
}
.line-blue
{
    border: .1px solid rgb(5, 5, 94);
    height: 1px;
    width: 30%;
    background: blue;
    transform-origin: center;
    animation-name: extend;
    animation-duration: 1s;
    padding: 0;
    margin: 0;
}

/*---------------------------------------------STATS*/

.stats
{
    width: 100%;
    height: auto;
    background-image: url(../img/stats.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-size: 16px;
}
.stats-contain
{
    padding: 1em;
}
.stats-title
{
    font-size: 3em;
    color:white;
    text-align: center;
}
.stats-list
{
    display: flex;
    justify-content: center;
}
.stats-box
{
    width: 200px;
    height: 130px;
    margin: 1em 3em;
    color: white;
    text-align: center;
}

.stats-number
{
    font-size: 3em;
    font-weight: 600;
}
.stats-number p
{
    margin: 10px;
    opacity: 1;
}
.stats-type
{
    font-size: 1.5em;
    font-weight: 700;
}
.stats-type p
{
    margin: 0;
    opacity: 1;
}
/*------------------------------GALERY*/
.galery
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5em;
}
.galery-title
{
    text-align: center;
    font-size: 3em;
    color: rgb(5, 5, 94);
}
.galery-contain
{
    margin: 5em 0;
    display: grid;
    grid-template-columns:repeat(4,minmax(200px,1fr));
    grid-gap: 10px;
    width: 80%;
    justify-content: center;
}
.item
{
    width: 100%;
    height: 100%;
}
.item img
{
    width: 100%;
    height: 100%;
}
.column2
{
    grid-row-end: span 2;
}
.column1
{
    grid-row-end:span  1;
}

/*-------------------------------------------------TEAM*/

.team
{
    width: 100%;
    height: auto;
    background: rgb(9, 69, 119);
}
.team-title
{
    padding: 1em 0;
    text-align: center;
    font-size: 3em;
    color: white;
}
.team-contain
{
    display: flex;
    justify-content: center;
    padding: 2em;
}
.user
{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 2em;
    color: white;
}
.user-mid
{
    width: 350px;
    height: 500px;
    position: relative;
    top: -20px;
}
.user-img
{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.img-mid
{
    width: 300px;
    height: 300px;
}
.user-img img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.user-social
{
    display: flex;
}
.social-item
{
    margin: 0 1em;
    border: 1px solid white;
    padding: 7px;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-item:hover
{
    cursor: pointer;
}

/*---------------------------------------BLOG*/
.blog
{
    width: 100%;
    height: auto;
}
.blog-title
{
    font-size: 3em;
    text-align: center;
    color: rgb(5, 5, 94);
    padding: 1em 0;
}
.blog-contain
{
    height: auto;
    display:grid;
    grid-template: repeat(2,auto)/repeat(3,1fr);
    grid-template-areas: "ini blog2 blog3" "blog4 blog5 ini2";
    justify-content: center;
    grid-gap: 15px;
}
.blog-box
{
    background: rgb(228, 226, 226);
}
.start
{
    grid-area: ini2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}
.start h2
{
    font-size: 2em;
}
.start2
{
    grid-area: ini;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
}

.blog-img
{
    width: 100%;
}
.blog-img img
{
    width: 100%;
}
.blog-info
{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}
.blog-left i
{
    color: rgb(9, 69, 119);
    font-size: 1.2em;
    margin-right:5px;
}
.blog-description
{
    padding: 15px 10px;
}
.blog-description h2
{
    opacity: .7;
    margin: 0;
}
.blog-description p
{
    opacity: .7;
    margin: 0;
}

/*--------------------------------------------CONTACT*/

.contact
{
    height: auto;
    background-image: url(../img/contacto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5em;
}
.contact-contain
{
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-title
{
    font-size: 3em;
    margin: 1em 0;
    text-align: center;
    color: white;
}
.contact-box
{
    width: auto;
    display: flex;
    padding: 1em;
    justify-content: center;
    height: auto;
    background: rgba(255,255,255,.2);
    border-radius: 15px;
}
.contact-form
{
    padding: 1em;
}

.input-text
{
    width: 480px;
    height: auto;
}
.input-text input
{
    width: calc(85%/2);
    height: 40px;
    margin: 10px;
}
.input-message
{
    width: 480px;
    height: auto;

}
.input-message input
{
    margin: 10px;
    width:92%;
    height: 150px;
}
.contact-form input
{
    border-radius: 5px;
    border:0;
    padding-left: 10px;
}
.contact-form input[type="submit"]
{
    width: 100px;
    height: 40px;
    margin-left: 10px;
    background: rgb(13, 69, 141);
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.contact-information
{
    margin-top: 1.7em;
    color: white;
}
.contact-information p
{
    margin: 10px 0;
}
footer
{
    margin: 2em 0;
    color: white;
}
footer p
{
    font-size: 1.4em;
}
.social-media
{
    margin: 1em 0;
    display: flex;
    justify-content: center;
}


/*---------------------------------------------------RESPONSIVE*/

@media screen and (max-width:1000px)
{

    header
    {
        margin: 0;
        position: relative;
    }
    .menu
    {
        width: inherit;
        display: flex;
        flex-direction: column;
        position: absolute;
        text-align: center;
        background: rgb(39, 38, 38);
        left: 0;
        right: 0;
        margin-top: 2em;
        padding: 1em;
        z-index: 9;
        opacity: 0;
    }
    .menu.is-active
    {
        opacity: 1;
        transition: .5s;
    }
    .header-right nav ul li
    {
        margin: 10px 0;
        padding: .5em 0;
    }
    .menu-button
    {
        display: block;
        font-size: 1.8em;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
    }
    .about-title
    {
        font-size: 2em;
    }
    .about-contain
    {
        font-size: 13px;
    }
    .services-title
    {
        font-size: 2em;
    }
    .services-contain
    {
        font-size: 13px;
    }
    .blog-title
    {
        font-size: 2em;
    }
    .contact-title
    {
        font-size: 2em;
    }
    footer p
    {
        font-size: 1.2em;
    }
}
@media screen and (max-width:850px)
{
    .galery-contain
    {
        grid-template-columns:repeat(2,1fr);
    }
    .about-contain
    {
        font-size: 13px;
    }
    .top-title h1
    {
        font-size: 1.2em;
    }
    .stats-title
    {
        font-size: 2em;
    }
    .stats-list
    {
        font-size: 13px;
    }
    .stats-box
    {
        margin: 1em 2em;
    }
    .galery-title
    {
        font-size: 2.5em;
    }
    .team-contain
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .blog-contain
    {
        height: auto;
        display:grid;
        grid-template: repeat(6,auto)/1fr;
        grid-template-areas: "ini ""blog2" "blog3" "ini2" "blog4" "blog5";
        justify-content: center;
        grid-gap: 15px;
    }
}
@media screen and (max-width:822px)
{
    .info-title h1
    {
        font-size: 1.6em;
    }
}
@media screen and (max-width:768px)
{
    .contact-box
    {
        display: block;
    }
    footer p
    {
        font-size: 1em;
    }
    .galery-contain
    {
        width: 100%;
    }
    .about-top
    {
        display: block;
    }
}
@media screen and (max-width:690px)
{
    .info-title h1
    {
        font-size: 1.4em;
    }
}
@media screen and (max-width:610px)
{
    .info-title h1
    {
        font-size: 1.2em;
    }
    .stats-list
    {
        flex-wrap: wrap;
    }
}
@media screen and (max-width:580px)
{

    .contact-box
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
    }
    .input-text
    {
        width: 90%;
        height: auto;
    }
    .input-text input
    {
        width: 100%;
        height: 40px;
        margin: 10px;
    }
    .input-message
    {
        width: 480px;
        height: auto;

    }
    .input-message input
    {
        margin: 10px;
        width:90%;
        height: 150px;
    }
}
@media screen and (max-width:570px)
{

    .contact-box
    {
        width: 450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
    }
    .input-text
    {
        width: 90%;
        height: auto;
    }
    .input-text input
    {
        width: 100%;
        height: 40px;
        margin: 10px;
    }
    .input-message
    {
        width: 480px;
        height: auto;

    }
    .input-message input
    {
        margin: 10px;
        width:90%;
        height: 150px;
    }
}
@media screen and (max-width:570px)
{
    .info-title 
    {
        text-align: center;
    }
    .info-text p
    {
        font-size: .9em;
        text-align: center;
    }
    .centrar
    {
        width: 80%;
    }
}
@media screen and (max-width:490px)
{
    .galery-title
    {
        font-size: 2em;
    }
    .team-title
    {
        font-size: 2em;
    }
    .contact-box
    {
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .contact-form form
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: inherit;
    }
    .input-text
    {
        width: 100%;
        height: auto;
    }
    .input-text input
    {
        width: 90%;
        height: 40px;
        margin: 10px;
    }
    .input-message
    {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .input-message input
    {
        margin: 10px;
        width:90%;
        height: 150px;
    }
    .galery-contain
    {
        grid-template-columns:repeat(1,1fr);
    }
}